<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" href="/static/sticky.css">
    <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/sticky.js"></script>
</head>
<body>
my stickies
<div>
    <div th:each="s, iter: ${stickies}" class="stickydiv" th:onmouseup="@{moveSticky({id});(id=${s.id()})}" th:id="'sticky' + ${s.id()}">
        <div class="stickyheader">Click here to move <a th:href="@{javascript:deleteSticky({id});(id=${s.id()})}">[X]</a></div>
        <div th:text="${s.content()}"/>
        <input type="hidden" th:value="${s.posX()}" th:attr="id='posXsticky' + ${s.id()}"/>
        <input type="hidden" th:value="${s.posY()}" th:attr="id='posYsticky' + ${s.id()}"/>
    </div>
</div>

<textarea id="addstickycontent"></textarea>
<a href="javascript:createSticky();">create sticky</a>

<script>
    var stickies = document.getElementsByClassName("stickydiv");
    for (var i = 0; i < stickies.length; i++) {
       var el = stickies.item(i);
       dragElement(el);

       el.style.left = $('#posX' + el.id).val() + 'px';
       el.style.top = $('#posY' + el.id).val() + 'px';
    }
</script>