<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" href="/static/sticky.css">
    <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/sticky.js"></script>
</head>
<body>
my stickies
<div>
    <div th:each="s, iter: ${stickies}" class="stickydiv" th:id="'sticky' + ${s.id()}">
        <div class="stickyheader">Click here to move</div>
        <div th:text="${s.content()}"/>
    </div>
</div>

<!--&lt;!&ndash; Draggable DIV &ndash;&gt;-->
<!--<div id="mydiv" class="stickydiv">-->
<!--    &lt;!&ndash; Include a header DIV with the same name as the draggable DIV, followed by "header" &ndash;&gt;-->
<!--    <div id="mydivheader" class="stickyheader">Click here to move</div>-->
<!--    <p>Move</p>-->
<!--    <p>this</p>-->
<!--    <p>DIV</p>-->
<!--</div>-->

<!--<script th:each="s, iter: ${stickies}">-->
<!--    dragElement(document.getElementById("mydiv"));    -->
<!--</script>-->

<textarea id="addstickycontent"></textarea>
<a href="javascript:createSticky();">create sticky</a>

<script>
    var stickies = document.getElementsByClassName("stickydiv");
    for (var i = 0; i < stickies.length; i++) {
       dragElement(stickies.item(i));
    }
</script>